/* Testing */
/* * {
  border: 1px solid red;
} */

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
}

.page {
  width: 960px;
  background: white;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

/* .txt-eggshell {
  color: #f9faf8;
}

.bg-darkblue {
  background-color: #1f2937;
}

.bg-lightgrey {
  background-color: #e5e7eb;
} */

.btn-primary {
  background-color: #3882f6;
  border: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #f9faf8;
  font-weight: 600;
  padding: 8px 24px;
}

.btn-secondary {
}

header,
footer,
section {
  display: flex;
  justify-content: center;
  padding: 0 140px;
  align-items: center;
}

header,
header nav a,
.hero,
footer {
  background: #1f2937;
  color: #f9faf8;
}

/* Header */

header {
  justify-content: space-between;
  font-size: 1.6rem;
  font-weight: 900;
  height: 50px;
}

header nav a {
  font-size: 1.2rem;
  font-weight: normal;
  padding: 0 8px;
}

/* Sections */
section {
  display: flex;
  flex: 1;
  padding: 50px 140px;
}

/* Hero Section */
.hero-msg {
  padding: 0 24px;
}

.hero-msg h1 {
  font-size: 4.8rem;
  font-weight: 800;
  margin: 0;
}

.hero-msg p {
  font-size: 1.8rem;
  color: #e5e7eb;
  margin: 0 0 8px 0;
}

/* Info Section */
.info-box {
  text-align: center;
}

/* Footer */
footer {
  justify-content: center;
}
